@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ebecf0;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.copyright {
  margin-top: 6rem;
  font-size: 1.5rem;
  color: #676767;
}

/* Timer */

.timer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem 4rem 0 4rem;
  border-radius: 7rem;
}

.label-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

#timer-label {
  color: #fff;
}

#time-left {
  font-size: 2.5rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
  color: white;
  background: black;
  border-radius: 1rem;
}

.pomodoro-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.pomodoro-button-container button {
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
  border: 1px solid black;
}

/* Break and Work */

.break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 5rem 2rem;
  border-radius: 2rem;
  background-color: #676767;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

#break-label {
  margin: 0;
}

.button-container button {
  border: 2px solid black;
  border-radius: 100%;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.worktime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 5rem 2rem;
  border-radius: 2rem;
  background-color: #676767;
  color: #fff;
}

#worktime-label {
  margin: 0;
}