.timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem 4rem 0 4rem;
    border-radius: 7rem;
}

.label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

button {
    font-size: 1rem;
    cursor: pointer;
}

#timer-label {
    color: #fff;
}

#time-left {
    font-size: 2.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    background: black;
    border-radius: 1rem;
}
.pomodoro-button-container{
display: flex;
justify-content: space-evenly;
margin-bottom: 2rem;
} 
.pomodoro-button-container button{
    margin-right: 1rem;
    font-family: 'Poppins',sans-serif;
    border-radius: 1rem;
    border: 1px solid black;
}