.worktime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 5rem 2rem;
    border-radius: 2rem;
    background-color: #676767;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
}

#worktime-label {
    margin: 0;
}